.deckEditScrollPane .viewport {
    -fx-background-image: url('mainDeckBackground.jpg');
}

.sideEditScrollPane .viewport {
    -fx-background-image: url('sideDeckBackground.jpg');
}

.playerCardsScrollPane .viewport {
    -fx-background-image: url('playerCardsBackground.jpg');
}

