.anchor {
    -fx-background-image:url('LoginBg.jpg');
    -fx-background-size: cover;
}

.anchor2 {
    -fx-background-image:url('background8.jpg');
    -fx-background-size: cover;
}

.anchor3 {
    -fx-background-image:url('background1.2.jpg');
    -fx-background-size: cover;
}

.anchor4 {
    -fx-background-image:url('background5.2.jpg');
    -fx-background-size: cover;
}

.anchor5 {
    -fx-background-image:url('background6.jpg');
    -fx-background-size: cover;
}

.anchor6 {
    -fx-background-color: #121212;
    -fx-background-size: cover;
}

.anchor7 .viewport{
    -fx-background-color: #1C1F32;
    -fx-background-size: cover;
}

.anchor8 .viewport {
    -fx-background-image:url('background1.2.jpg');
    -fx-background-size: cover;
}

.anchor9 {
    -fx-background-color: #121325;
    -fx-background-size: cover;
}

.anchor10 .viewport{
    -fx-background-image:url('LoginBg.jpg');
    -fx-background-size: cover;
}

.anchor11 {
    -fx-background-color: #131313;
    -fx-background-size: cover;
}

.anchor12 {
    -fx-background-image:url('background9.jpg');
    -fx-background-size: cover;
}

.anchor13 .viewport {
    -fx-background-color: #121212;
    -fx-background-size: cover;
}

.anchor14 {
    -fx-background-color: #404040;
    -fx-text-fill: #d7d6d6;
    -fx-background-size: cover;
}

.wiezdemin {
    -fx-font-family: thewitcher;
}

@font-face {
    -fx-font-family: 'thewitcher'; /*a name to be used later*/
    src: url('../fonts/Thewitcher.ttf'); /*URL to font*/
}

.button1 {
    -fx-background-radius: 30;
    -fx-background-color: #3e2354;
    -fx-text-fill: #ae9f76;

}

.button2 {

    -fx-background-color: #240303;
    -fx-text-fill: #bfb18b;
    -fx-background-image:url('background1.2.jpg');
    -fx-background-size: cover;

}

.button3 {
    -fx-background-radius: 30;
    -fx-background-color: #edd9ce;
    -fx-text-fill: #313335;

}

.text-field1 {
    -fx-background-radius: 10;
    -fx-background-color: #352838;
    -fx-text-fill: #e9cdc8;
    -fx-prompt-text-fill: #e9cdc8;

}

.text-field2 {
    -fx-background-radius: 10;
    -fx-background-color: #020111;
    -fx-text-fill: #ead6cb;

}

.text-field3 {
    -fx-background-radius: 5;
    -fx-background-color: #755a77;
    -fx-text-fill: #e9cdc8;
    -fx-prompt-text-fill: #e9cdc8;

}

.Label1 {

    -fx-text-fill: #bebaae;

}

.battlefield {
    -fx-background-image:url('../mainclass/Field/fie_normal.bmp');
    -fx-background-size: cover;
}