.anchor {
    -fx-background-image:url('LoginBg.jpg');
    -fx-background-size: cover;
}

.anchor2 {
    -fx-background-image:url('background8.jpg');
    -fx-background-size: cover;
}

.anchor3 {
    -fx-background-image:url('background1.2.jpg');
    -fx-background-size: cover;
}

.wiezdemin {
    -fx-font-family: thewitcher;
}

@font-face {
    -fx-font-family: 'thewitcher'; /*a name to be used later*/
    src: url('../fonts/Thewitcher.ttf'); /*URL to font*/
}

.button1 {
    -fx-background-radius: 30;
    -fx-background-color: #3e2354;
    -fx-text-fill: #ae9f76;

}

.button2 {

    -fx-background-color: #240303;
    -fx-text-fill: #bfb18b;
    -fx-background-image:url('background1.2.jpg');
    -fx-background-size: cover;

}

.button3 {
    -fx-background-radius: 30;
    -fx-background-color: #edd9ce;
    -fx-text-fill: #313335;

}

.text-field1 {
    -fx-background-radius: 10;
    -fx-background-color: #352838;
    -fx-text-fill: #e9cdc8;
    -fx-prompt-text-fill: #e9cdc8;

}

.text-field2 {
    -fx-background-radius: 10;
    -fx-background-color: #020111;
    -fx-text-fill: #ead6cb;

}

.Label1 {

    -fx-text-fill: #bebaae;

}